@import "../../mixin/_flexMixin";

.container {
  .flex-display();
  height: 100vh;
  overflow-x: hidden;
}

.side-menu-wrapper {
  .flex-display();
  .flex-direction(column);
}

.canvas-wrapper {
  .flex-grow(1);
  overflow: hidden;
  position: relative;
}

.side-menu {
  grid-column: 2;
  grid-row: 1;
}

.toolbox {
  grid-column: 2;
  grid-row: 2;
}

.mask-rectangle {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;

  pointer-events: none;
  background: none;
  border: 2px dotted #f00;
}
