<div class="container">
    <div class="canvas-wrapper">
        <canvas ref="renderCanvas" class="render-canvas" @click="onClick"></canvas>
    </div>
    <div class="side-menu">
        <div>
            <button type="button" @click="createMeshOnPoints()">Create Mesh on points</button>
        </div>
        <div class="form-group">
            <label for="conf-age">Age</label>
            <input id="conf-age" type="range" min="10" max="80" step="1" v-model="config.age">
        </div>
        <div class="form-group">
            <label for="conf-fat">Fat</label>
            <input id="conf-fat" type="range" min="0" max="100" step="0.1" v-model="config.fat">
        </div>
        <table>
            <tr>
                <td></td>
                <td><button type="button" @click="rotateMesh('up')">↑</button></td>
                <td></td>
            </tr>
            <tr>
                <td><button type="button" @click="rotateMesh('left')">←</button></td>
                <td><button type="button" @click="rotateMesh('reset')">o</button></td>
                <td><button type="button" @click="rotateMesh('right')">→</button></td>
            </tr>
            <tr>
                <td></td>
                <td><button type="button" @click="rotateMesh('down')">↓</button></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
