<div class="toolbox">
    <!--<div>-->
    <!--<input type="radio" name="toolbox-transform-type">-->
    <!--<span>position</span>-->
    <!--<br>-->
    <!--<input type="radio" name="toolbox-transform-type" disabled>-->
    <!--<span>rotate</span>-->
    <!--<br>-->
    <!--<input type="radio" name="toolbox-transform-type" disabled>-->
    <!--<span>scale</span>-->
    <!--</div>-->
    <div>
        x: <input type="number" step="0.01" v-model="position.x"><br>
        y: <input type="number" step="0.01" v-model="position.y"><br>
        z: <input type="number" step="0.01" v-model="position.z"><br>
    </div>
</div>
